@font-face {
  font-family: "Cloister";
  src: url(fonts/CloisterBlackLight-axjg.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Royal";
  src: url(fonts/Royal-7B3K.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Blackletter";
  src: url(fonts/BlackletterShadow-6YAA.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Oxford";
  src: url(fonts/Oxford-LAqy.ttf);
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

body {
  background-color: #0e0e0e;
  overflow-x: hidden;
  color: white;
}

main {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  background-image: url("svg/symbol-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#content {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
}

#middle {
  position: absolute;
  top: 12rem;
  left: 0rem;
  width: 100%;
}

#lrm-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left-box {
  width: 40%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-box {
  width: 40%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.right-box a {
  padding: 1rem;
  width: 23%;
}

.mid-box {
  width: 20%;
  padding: 2rem;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul li {
  padding: 1rem;
  font-size: 2rem;
  font-family: 'Cinzel', serif;
}

#footer {
  overflow: hidden;
  background-image: url("svg/flower-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: difference;
  background-color: #0c1018;
  position: absolute;
  bottom: -18rem;
  left: 0rem;
  height: 48.3vh;
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer h4 {
  font-family: "Cinzel";
  font-weight: 200;
  font-size: 1.55rem;
  padding: 0.2rem;
  color: #dadada;
  margin-bottom: 0.25rem;
  text-shadow: 2px 2px 8px black;
}

#footer p {
  font-family: 'Merriweather', serif;
  color: #979696;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.f-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#moreinfo {
  margin-top: 3rem;
  width: 65%;
  padding-left: 10rem;
}

#moreinfo p {
  color: black;
  margin-top: 1.1rem;
  font-weight: normal;
  font-family: 'Merriweather', serif;
}

.w-100 {
  width: 100%;
}

#footer-top {
  padding: 1rem;
  width: 100%;
  height: 30%;
}

#footer-bottom {
  width: 100%;
  height: 70%;
}

a {
  z-index: 5000;
  text-decoration: none;
  color: white;
}

#abs-1 {
  position: absolute;
  top: 7rem;
  left: 0rem;
  width: 100%;
}

#abs-2 {
  position: absolute;
  top: 14rem;
  left: 0rem;
  width: 100%;
}

#abs-3 {
  position: absolute;
  top: 21rem;
  left: 0rem;
  width: 100%;
}

#abs-4 {
  position: absolute;
  top: 7rem;
  left: 0rem;
  width: 100%;
}

#abs-5 {
  position: absolute;
  top: 28rem;
  left: 0rem;
  width: 100%;
}

#abs-6 {
  position: absolute;
  top: 35rem;
  left: 0rem;
  width: 100%;
}

.flex-section {
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  color: white;
  font-size: 6rem;
  font-family: "Cloister";
}

.scene,
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */