@font-face {
  font-family: "vietnam";
  src: url(../fonts/BeVietnam-Regular.ttf);
}

@font-face {
  font-family: "vietnamLight";
  src: url(../fonts/BeVietnam-Light.ttf);
}

@font-face {
  font-family: "RNSNormal";
  src: url(../fonts/RNSSanz-Normal.ttf);
}

@font-face {
  font-family: "RNSBold";
  src: url(../fonts/RNSSanz-Bold.ttf);
}

@font-face {
  font-family: "RNSSemiBold";
  src: url(../fonts/RNSSanz-SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: #f7f7f8;
  overflow-x: hidden;
}

#svgshape {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.about-page {
  background-color: white;
}

.about-page * {
  z-index: 1;
}

.bottom-text {
  font-size: 0.85rem;
  color: #cecece;
}

.animation-wrapper {
  min-height: 100vh;
}

.link {
  color: #257dcf;
}

nav {
  position: fixed;
  width: 100%;
  padding: 0.35rem;
  background-color: #f7f7f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  z-index: 5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav a {
  display: block;
  padding: 0.5rem;
  color: #242424;
  font-size: 1.1rem;
}

.newlogo-anim {
  -webkit-animation: newlogoanim 1s ease forwards 1;
          animation: newlogoanim 1s ease forwards 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes newlogoanim {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
            transform: scale(0) rotate(45deg);
  }
  70% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
}

@keyframes newlogoanim {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
            transform: scale(0) rotate(45deg);
  }
  70% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
}

#back-top {
  width: 3rem;
  padding: 0.5rem;
  margin-left: 1rem;
  display: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.headroom--pinned {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.headroom--unpinned {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.headroom--pinned.headroom--not-top {
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.055);
          box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.055);
}

.headroom--pinned.headroom--not-top #back-top {
  display: block;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#wdc-text {
  z-index: 1;
}

#wdc-line {
  position: relative;
  top: -2rem;
  -webkit-animation: drawIn 2s ease forwards;
          animation: drawIn 2s ease forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
}

@-webkit-keyframes drawIn {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawIn {
  to {
    stroke-dashoffset: 0;
  }
}

#navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#main_header {
  position: relative;
  /*background-image: url("../svg/gp.svg");
  background-size: contain;
  background-repeat: repeat;
  background-blend-mode: luminosity;*/
  border-radius: 0% 0% 1rem 1rem;
  height: 84vh;
  width: 100%;
  padding: 2rem;
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_header #page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #242424;
  line-height: 5rem;
}

#main_header #blob1 {
  position: absolute;
  left: -4rem;
  top: 12rem;
  -webkit-transform: rotate(15deg) translateY(30%);
          transform: rotate(15deg) translateY(30%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: blobanim 2s ease forwards;
          animation: blobanim 2s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes blobanim {
  to {
    -webkit-transform: rotate(0deg) translateY(0);
            transform: rotate(0deg) translateY(0);
  }
}

@keyframes blobanim {
  to {
    -webkit-transform: rotate(0deg) translateY(0);
            transform: rotate(0deg) translateY(0);
  }
}

#main_header #blob2 {
  position: absolute;
  right: -4rem;
  top: 8rem;
  -webkit-transform: rotate(-10deg) translateY(20%);
          transform: rotate(-10deg) translateY(20%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: blobanim 3.5s ease forwards;
          animation: blobanim 3.5s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#main_header #blob3 {
  position: absolute;
  right: 12rem;
  top: 30rem;
  -webkit-transform: rotate(15deg) translateY(30%);
          transform: rotate(15deg) translateY(30%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: blobanim 2.5s ease forwards;
          animation: blobanim 2.5s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#main_header #blob4 {
  position: absolute;
  left: 10rem;
  top: 6rem;
  -webkit-transform: rotate(15deg) translateY(40%);
          transform: rotate(15deg) translateY(40%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: blobanim 3s ease forwards;
          animation: blobanim 3s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#main_header #blob5 {
  position: absolute;
  right: 5rem;
  top: 47rem;
  -webkit-transform: rotate(15deg) translateY(80%);
          transform: rotate(15deg) translateY(80%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: blobanim 4s ease forwards;
          animation: blobanim 4s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#main_header #h_div_1 {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main_header #h_inner_div {
  width: 90%;
}

#main_header #header_buttons {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 1.5rem;
}

#main_header #header_buttons a {
  margin-right: 1.1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  color: #242424;
  background-color: #EC5A80;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#main_header #header_buttons a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: white;
  background-color: #EC5A80;
  cursor: pointer;
}

#main_header #jj-logo {
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#main_header #jj-logo:hover {
  -webkit-transform: scale(1.05) rotate(10deg);
          transform: scale(1.05) rotate(10deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#main_header h1 {
  font-family: "RNSSemiBold";
  font-size: 5rem;
  color: #242424;
  position: relative;
  z-index: 2;
}

#main_header #h_underline {
  position: relative;
  top: -2rem;
  left: -1rem;
}

#main_header p {
  font-size: 1.3rem;
  font-family: "RNSSemiBold";
  color: #242424;
  margin-top: 2rem;
}

#scroll_to_projects {
  height: 16vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "RNSSemiBold";
  color: #373C48;
  font-size: 1.2rem;
}

.linktext {
  font-size: 1.3rem;
  font-family: "vietnamLight";
}

main {
  margin-top: 8rem;
}

a,
a:hover {
  text-decoration: none;
}

.project {
  height: 20rem;
}

.project-content {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: inset 5px 5px 300px rgba(0, 0, 0, 0), 4px 4px 5px rgba(0, 0, 0, 0.123);
          box-shadow: inset 5px 5px 300px rgba(0, 0, 0, 0), 4px 4px 5px rgba(0, 0, 0, 0.123);
  -webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
}

.project-content p {
  margin-top: 0.2rem;
}

.project:nth-child(1) .project-content {
  background-image: url(../img/tetris-bg.svg);
}

.project:nth-child(2) .project-content {
  background-image: url(../svg/visualiser.svg);
}

.project:nth-child(3) .project-content {
  background-image: url(../svg/designportfolio.svg);
}

.img-cover {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.project-content:hover {
  -webkit-box-shadow: inset 5px 5px 300px rgba(0, 0, 0, 0.247), 4px 4px 5px rgba(0, 0, 0, 0.123);
          box-shadow: inset 5px 5px 300px rgba(0, 0, 0, 0.247), 4px 4px 5px rgba(0, 0, 0, 0.123);
  -webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
}

.project-text {
  font-size: 1.85rem;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.274);
  font-family: "vietnam";
  margin: 0rem;
  padding: 0rem;
  line-height: 2.2rem;
}

.thin-bb {
  border-bottom: 2px solid rgba(30, 79, 139, 0.897);
}

.inv-bb {
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

#logo {
  width: 15%;
}

#cookie {
  opacity: 0;
  background-color: #de6c83;
  color: white;
  padding: 0.6rem;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  border-radius: 0.15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeUp 1.25s ease forwards;
          animation: fadeUp 1.25s ease forwards;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

#cookie svg {
  padding-left: 0.3rem;
}

#accept-cookies:hover {
  cursor: pointer;
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    bottom: -1rem;
  }
  100% {
    opacity: 1;
    bottom: 1rem;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    bottom: -1rem;
  }
  100% {
    opacity: 1;
    bottom: 1rem;
  }
}

@media (max-width: 767px) {
  #headerlogo {
    display: none !important;
  }
  #me-img {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
}

footer {
  background-color: #1d1d1d;
  height: 4.5rem;
  width: 100%;
}

.page-transition {
  background-color: #fff568;
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-transition-about {
  background-color: white;
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-transition-about-2 {
  background-color: #f7f7f8;
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.once-transition {
  background-color: #fffff8;
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-title {
  color: rgba(30, 79, 139, 0.897);
}

.text-large {
  font-size: 1.5rem;
}

.undertitle {
  font-size: 1.25rem;
}

.description {
  font-size: 1.15rem;
}

#back {
  background-color: whitesmoke;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2e2e2d), to(#505050));
  background-image: linear-gradient(to top, #2e2e2d, #505050);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  min-height: 100vh;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#back:hover {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

#backarrow {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 8;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
  text-shadow: 4px 4px 4px black;
}

#backarrow:hover {
  -webkit-transition: -webkit-transform 0.5;
  transition: -webkit-transform 0.5;
  transition: transform 0.5;
  transition: transform 0.5, -webkit-transform 0.5;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.thera-body {
  background-color: white;
}

.about-body {
  background-color: white;
}

.yellowlink {
  color: #fff568;
}

.yellowlink:hover {
  color: #eeff00;
}

.blackbox {
  background-color: #1d1d1d;
  padding: 0.75rem;
}

.linkbox a {
  width: 33%;
}

.circle-move {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
}

.bubble-container {
  height: 100vh;
  overflow: hidden;
}

.debris {
  width: 2px;
  height: 2px;
  background-color: #de6c83;
  position: absolute;
}

#gamefield {
  background-color: #fffadf;
  padding: 2rem;
  border-radius: 0.25rem;
  width: 60%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.103);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.103);
}

#start-button {
  padding: 0.25rem;
  background-color: #242424;
  color: white;
  border: none;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  width: 160px;
  height: 50px;
  outline: none;
  font-size: 1rem;
}

#score {
  color: #242424;
}

.tetris-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 4rem;
}

.mini-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*border: 1px solid black;*/
}

.grid {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid #242424;
  width: 300px;
  height: 600px;
  background-color: #242424;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid div {
  height: 30px;
  width: 30px;
}

.mini-grid {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 2px solid #242424;
  width: 80px;
  height: 80px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #242424;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: #fff568;
}

#highscore > p {
  color: #242424;
  font-size: 1.5rem;
}

#tetris-wrapper {
  background-color: #f7f7f8;
  background-image: url(../img/tetris-page-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.three-wrapper {
  background-color: #f7f7f8;
  background-image: url(../three/svg/symbol-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.codetext {
  width: 90%;
  background-color: #242424;
  color: white;
  padding: 0.35rem;
}

.hide {
  display: none !important;
}
/*# sourceMappingURL=newstyle.css.map */