$blackColor: #242424;
$yellowColor: rgb(255, 245, 104);
$blue: #373C48;
$header-color: #EAEAEA;
$bg-color: #f7f7f8;

@font-face {
  font-family: "vietnam";
  src: url(../fonts/BeVietnam-Regular.ttf);
}
@font-face {
  font-family: "vietnamLight";
  src: url(../fonts/BeVietnam-Light.ttf);
}
@font-face {
  font-family: "RNSNormal";
  src: url(../fonts/RNSSanz-Normal.ttf);
}
@font-face {
  font-family: "RNSBold";
  src: url(../fonts/RNSSanz-Bold.ttf);
}
@font-face {
  font-family: "RNSSemiBold";
  src: url(../fonts/RNSSanz-SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  min-width: 100%;
  background-color: #f7f7f8;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
  //font-family: "RNSSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#svgshape{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.about-page{
  *{
    z-index: 1;
  }
  background-color: white;
}

.bottom-text{
  font-size: 0.85rem;
  color: rgb(206, 206, 206);
}

.animation-wrapper {
  min-height: 100vh;
}

.link{
  color: #257dcf;
}
nav{
  position: fixed;
  width: 100%;
  padding: 0.35rem;
  background-color: $bg-color;
  

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.25rem;
  padding-left: 1.25rem;

  z-index: 5;

  a{
    display: block;
    padding: 0.5rem;
    color: $blackColor;
    font-size: 1.1rem;
  }

  transition: all 0.5s ease;
}

.newlogo-anim{
  animation: newlogoanim 1s ease forwards 1;
  transform: scale(0);
  animation-delay: 0.25s;
}

@keyframes newlogoanim{
  0%{
    transform: scale(0) rotate(45deg);
  }
  70%{
    transform: scale(1) rotate(0deg);
  }
  100%{
    transform: scale(0) rotate(0deg);
  }
}

#back-top{
  width: 3rem;
  padding: 0.5rem;
  margin-left: 1rem;
  display: none;
  transition: all 1s ease;
}
//headroom
.headroom--pinned{
  transform: translate3d(0, 0, 0);
}
.headroom--unpinned{
  transform: translate3d(0, -100%, 0);
}
/*.headroom--unpinned.headroom--not-top #back-top{
  display: block;
}*/

.headroom--pinned.headroom--not-top{
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.055);
}
.headroom--pinned.headroom--not-top #back-top{
  display: block;
  transition: all 1s ease;
}
#wdc-text{
  z-index: 1;
}
#wdc-line{
  position: relative;
  top: -2rem;
  animation: drawIn 2s ease forwards;
  animation-delay: 1.5s;

  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
}

@keyframes drawIn{
  to{
    stroke-dashoffset: 0;
  }
}


#navlinks{
  display: flex;
  flex-direction: row;
}
#page-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $blackColor;
  line-height: 5rem;
  transition: all 1s ease;
}
.page-title-class{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $blackColor;
  line-height: 5rem;
}
.h1-title{
  font-family: "RNSSemiBold";
  font-size: 5rem;
  color: $blackColor;
  position: relative;
  z-index: 2;
}
#main_header {

  position: relative;

  #blob1{
    position: absolute;
    left: -4rem;
    top: 12rem;

    transform: rotate(15deg) translateY(30%);
    transition: all 2s ease;
    animation: blobanim 2s ease forwards;
    animation-delay: 1s;
  }
  @keyframes blobanim{
    to{
      transform: rotate(0deg) translateY(0);
    }
  }
  #blob2{
    position: absolute;
    right: -4rem;
    top: 8rem;
    transform: rotate(-10deg) translateY(20%);
    transition: all 2s ease;
    animation: blobanim 3.5s ease forwards;
    animation-delay: 1s;
  }
  #blob3{
    position: absolute;
    right: 12rem;
    top: 30rem;
    transform: rotate(15deg) translateY(30%);
    transition: all 2s ease;
    animation: blobanim 2.5s ease forwards;
    animation-delay: 1s;
  }
  #blob4{
    position: absolute;
    left: 10rem;
    top: 6rem;transform: rotate(15deg) translateY(40%);
    transition: all 2s ease;
    animation: blobanim 3s ease forwards;
    animation-delay: 1s;
  }
  #blob5{
    position: absolute;
    right: 5rem;
    top: 47rem;
    transform: rotate(15deg) translateY(80%);
    transition: all 2s ease;
    animation: blobanim 4s ease forwards;
    animation-delay: 1s;
  }

  /*background-image: url("../svg/gp.svg");
  background-size: contain;
  background-repeat: repeat;
  background-blend-mode: luminosity;*/

  //background-color: $blue;
  border-radius: 0% 0% 1rem 1rem;
  height: 84vh;
  width: 100%;

  padding: 2rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #h_div_1{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #h_inner_div{
    width: 90%;
  }
  #header_buttons{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;;
    margin-top: 1.5rem;
    a{

      margin-right: 1.1rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: none;
      color: $blackColor;
      background-color: #EC5A80;

      transform: scale(1);
      transition: all 0.25s ease;

      &:hover{
        transform: scale(1.1);
        transition: all 0.25s ease;
        color: rgb(255, 255, 255);
        background-color: #EC5A80;
        cursor: pointer;
      }
    }

  }

  #jj-logo{
    transform: scale(1) rotate(0deg);
    transition: all 0.5s ease;
    &:hover{
      transform: scale(1.05) rotate(10deg);
      transition: all 0.5s ease;
    }
  }

  h1{
    font-family: "RNSSemiBold";
    font-size: 5rem;
    color: $blackColor;
    position: relative;
    z-index: 2;
  }
  #h_underline{
    position: relative;
    top: -2rem;
    left: -1rem;
  }
  p {
    font-size: 1.3rem;
    font-family: "RNSSemiBold";
    color: $blackColor;
    margin-top: 2rem;
  }
  
}

#scroll_to_projects{
  height: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "RNSSemiBold";
  color: $blue;
  font-size: 1.2rem;
}

.linktext {
  font-size: 1.3rem;
  font-family: "vietnamLight";
}
main {
  margin-top: 8rem;
}

a,
a:hover {
  text-decoration: none;
}




/* ABOUT PAGE */
#aboutpage{
  padding-top: 9.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#social-links{
  a{
    display: block;
    width: 15%;
    padding: 1.5rem 3rem;
    img{
      width: 100%;
    }
    img{
      
    }
  }
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.emaillink{
  font-size: 1.1rem;

  color: rgb(255, 0, 0);
}



//Project divs
.project {
  height: 20rem;
  //border: 1px solid green;
}
.project-content {
  width: 100%;
  height: 100%;
  //border: 1px solid black;
  //background-image: url(svg/blob-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 5px 5px 300px rgba(0, 0, 0, 0),
    4px 4px 5px rgba(0, 0, 0, 0.123);
  transition: box-shadow 0.25s ease-in-out;
  //border: 2px solid rgb(255, 255, 255);
  p {
    margin-top: 0.2rem;
  }
}
//SETTING BG IMAGES
.project:nth-child(1) .project-content {
  background-image: url(../img/tetris-bg.svg);
}
.project:nth-child(2) .project-content {
  background-image: url(../svg/visualiser.svg);
}
.project:nth-child(3) .project-content {
  background-image: url(../svg/designportfolio.svg);
}
.project:nth-child(4) .project-content {
  //background-image: url(../img/tattoo-bg.jpg);
}
.project:nth-child(5) .project-content {
  //background-image: url(../img/tetris-bg.svg);
}
.project:nth-child(6) .project-content {
  //background-image: url(../img/barba-bg.svg);
}

.img-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.project-content:hover {
  box-shadow: inset 5px 5px 300px rgba(0, 0, 0, 0.247),
    4px 4px 5px rgba(0, 0, 0, 0.123);
  transition: box-shadow 0.25s ease-in-out;
}
.project-text {
  font-size: 1.85rem;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.274);
  font-family: "vietnam";
  margin: 0rem;
  padding: 0rem;
  line-height: 2.2rem;
}

.thin-bb {
  border-bottom: 2px solid rgba(30, 79, 139, 0.897);
}
.inv-bb {
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

#logo {
  width: 15%;
  //border: 1px solid black;
}

//Cookies
#cookie {
  opacity: 0;
  background-color: #de6c83;
  color: white;
  padding: 0.6rem;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  border-radius: 0.15rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  animation: fadeUp 1.25s ease forwards;
  animation-delay: 1.25s;

  svg {
    padding-left: 0.3rem;
  }
}
#accept-cookies:hover {
  cursor: pointer;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    bottom: -1rem;
  }
  100% {
    opacity: 1;
    bottom: 1rem;
  }
}

//media queries
@media (max-width: 767px) {
  #headerlogo{
    display: none !important;
  }
  #me-img{
    align-items: flex-start !important;
  }
}

footer {
  background-color: rgb(29, 29, 29);
  height: 4.5rem;
  width: 100%;
}

//barba
.page-transition {
  background-color: rgb(255, 245, 104);
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  transform: scaleX(0);
  //transform: translateX(-100%);

  display: flex;
  justify-content: center;
  align-items: center;
}
$aboutColor: rgb(255, 255, 255);
.page-transition-about {
  background-color: $aboutColor;
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  transform: scaleY(0);
  //transform: translateX(-100%);

  display: flex;
  justify-content: center;
  align-items: center;
}
.page-transition-about-2 {
  background-color: #f7f7f8; //rgb(31, 31, 31);
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  transform: scaleY(0);
  //transform: translateX(-100%);

  display: flex;
  justify-content: center;
  align-items: center;
}
.once-transition {
  background-color: rgb(255, 255, 248);
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  //transform: scaleY(1);
  transform: translateY(0);
  //transform: skewY(0);

  display: flex;
  justify-content: center;
  align-items: center;

  animation: slideUp 1.5s ease forwards;
  animation-delay: 1s;
}

@keyframes slideUp{
  to{
    transform: translateY(-110%);
  }
}

//about me page
.about-title{
  color: rgba(30, 79, 139, 0.897);
}

.text-large {
  font-size: 1.5rem;
}

//project pages style
.undertitle {
  font-size: 1.25rem;
}
.description {
  font-size: 1.15rem;
}

#back {
  //width: 100%;
  //height: 2000px;
  //position: fixed;
  //top: 0rem;
  //left: 0rem;
  background-color: rgb(245, 245, 245);
  background-image: linear-gradient(to top, rgb(46, 46, 45), rgb(80, 80, 80));

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;

  min-height: 100vh;

  transition: transform 0.5s;
  transform: scaleX(1);
}
#back:hover {
  transition: transform 0.5s;
  transform: scaleX(1.2);
}
#backarrow {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 8;
  transition: transform 0.5s;
  transform: scale(1);
  
  text-shadow: 4px 4px 4px black;
}
#backarrow:hover {
  transition: transform 0.5;
  transform: scale(1.1);
}

//thera site style
.thera-body {
  background-color: white;
}
.about-body {
  background-color: rgb(255, 255, 255);
}

//utility
.yellowlink {
  color: $yellowColor;
}
.yellowlink:hover {
  color: rgb(238, 255, 0);
}
.blackbox {
  background-color: rgb(29, 29, 29);
  padding: 0.75rem;
}
.linkbox {
  a {
    width: 33%;
  }
}

//Circle animation

.circle-move {
  position: absolute;
  z-index: 1;
  opacity: 0.5; //0.35;
}
.bubble-container {
  height: 100vh;
  overflow: hidden;
}
.debris {
  width: 2px;
  height: 2px;
  background-color: #de6c83;
  position: absolute;
}

//tetris styles
#gamefield {
  background-color: #fffadf;
  padding: 2rem;
  border-radius: 0.25rem;
  width: 60%;
  margin-top: 2rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.103);
}

#start-button {
  padding: 0.25rem;
  background-color: $blackColor;
  color: white;
  border: none;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  width: 160px;
  height: 50px;
  outline: none;
  font-size: 1rem;

  &:hover {
    //border: 1px solid black;
  }
}
#score {
  color: $blackColor;
}

.tetris-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 4rem;
}

.mini-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 1px solid black;*/
}

.grid {
  box-sizing: content-box;
  border: 1px solid $blackColor;

  width: 300px;
  height: 600px;
  background-color: $blackColor;

  display: flex;
  flex-wrap: wrap;

  div {
    height: 30px;
    width: 30px;
  }
}

.mini-grid {
  box-sizing: content-box;
  border: 2px solid $blackColor;

  width: 80px;
  height: 80px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: $blackColor;

  div {
    height: 20px;
    width: 20px;
  }
}

.tetromino {
  background-color: $yellowColor;
}
#highscore > p {
  color: $blackColor;
  font-size: 1.5rem;
}
#tetris-wrapper {
  background-color: #f7f7f8;
  background-image: url(../img/tetris-page-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

//three js page
.three-wrapper{
    background-color: #f7f7f8;
    background-image: url(../three/svg/symbol-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

//
.codetext{
  width: 90%;
  background-color: rgb(36, 36, 36);
  color: white;
  padding: 0.35rem;
}

//hide utility
.hide {
  display: none !important;
}

.o0{
  //opacity: 0;
}

.less-wide{
  width: 55%;
}