@font-face {
  font-family: "vietnam";
  src: url(../fonts/BeVietnam-Regular.ttf);
}
@font-face {
  font-family: "vietnamLight";
  src: url(../fonts/BeVietnam-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "vietnam";
}

body {
  background-color: rgb(36, 36, 36);
}

#back {
  width: 110px;
  height: 100vh;
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: rgb(82, 82, 82);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

a,
a:hover {
  text-decoration: none;
}
